#calculator {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    background: rgb(148, 168, 185);
    border-radius: 10px;
    padding: 20px;
}

#display {
    height: 100px;
    background: rgb(228, 222, 213);
    border-radius: 5px;
    margin: 2px 2px 20px 2px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 48px;    
}

.row {
    display: flex;
    justify-content: end;
    flex: 1;
}

.row button {
    /* width: 50px; */
    flex: 1;
    background: rgb(201, 201, 225);
    border-color: rgb(201, 201, 225);
    border-style: solid;
    border-radius: 5px;
    box-shadow: none;
    margin: 2px;
    font-size: 24px;
}

/* .clear {
    background: rgb(248, 205, 148);
} */

.text {
    font-family: monospace;  
    color: rgb(148, 168, 185);
}